.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 25px 50px 25px 50px;
}

.grid-container {
  display: grid;
  padding: 50px 50px 50px 50px;
  grid-template-columns: auto auto auto;
  grid-gap: 25px 25px;
  background-color: #696969;

}

.grid-item:hover{
  transform: scale(1.25);
}

.website-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-text{
  color: white;
  font-size: xx-large;
  padding: 25px 0px 25px 50px;
}


.sansserif {
  font-family: Verdana, Helvetica, sans-serif;
}
