.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 25px 50px 25px 50px;
}

.grid-container {
  border-radius: 25px;

  display: grid;
  padding: 50px 50px 50px 50px;
  grid-template-columns: auto auto auto;
  grid-gap: 25px 25px;
  background-color: #696969;
}

.grid-item {
  border-radius: 25px;
  color: black;
  background-color: white;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.grid-item:hover {
  transform: scale(1.25);
}

.grid-img {
  align-items: center;
  justify-content: center;
}

.photo {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.header-image {
  position: relative;
  right: 230px;
  color: black;
}

.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 19%;
  left: 62%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: white;
  font-family: fantasy;
  font-style: italic;
}

.about-us {
  color: white;
  font-size: xx-large;
}

.sansserif {
  font-family: Verdana, Helvetica, sans-serif;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
