/* * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  /* border-style: ridge; */
}

.sansserif {
  font-family: Verdana, Helvetica, sans-serif;
  color: white;
}

.prod-title {
  margin-left: 50px;
  text-align: center;
  /* border-style: ridge; */
}

.prod-details {
  font-family: Verdana, Helvetica, sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  width: 33%;
  text-align: center;
}

.column-2 {
  flex: 100%;
  width: 100%;
  position: relative;
}

.column-3 {
  flex: 100%;
  width: 100%;
  position: relative;
}

.column-4 {
  flex: 30%;
  margin-left: 50px;
}

.prod-img {
  height: auto;
  width: auto;
  max-height: 750px;
  max-width: 750px;
  float: left;
  margin-right: auto;
  margin-left: 50px;
  padding-right: 10px;
  margin-bottom: 25px;
}

.list-items {
  list-style-type: none;
  text-indent: 25px;
}

.order-form {
  border-style: groove;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 30px;
  border-radius: 5px;
  border-color: #696969;
  background-color: #696969;
  margin-bottom: 50px;
}

.product {
  border-style: ridge;
  border-radius: 5px;
  background-color: #696969;
  margin-left: 50px;
  margin-right: 50px;
  border-color: #696969;
}

.image-wheel {
  /* border-style: ridge; */
}

input[type="text"],
input[type="email"] {
  border-radius: 5px;
  width: 25%;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

input[type="button"] {
  /* align-items: center; */
  justify-content: center;
  font-size: 100px;
  padding: 5px;
}

select {
  justify-content: center;
}

span.price {
  float: right;
}

cart {
  float: left;
}

.header-image {
  position: relative;
  right: 230px;
  color: black;
}

.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 62%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: white;
  font-family: fantasy;
  font-style: italic;
  text-decoration: none;
}

.block {
  display: block;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

.image-row {
  display: flex;
  padding: 0 4px;
}

.image-column {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
}

.photo {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.photo:hover {
  transform: scale(1.5);
}

#img0,
#img1,
#img2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img0:hover,
#img1:hover,
#img2:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
